<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/cart.css">
<body>
    <%- include("partials/navbar.ejs") %>

    <div id="shp">
        <h1>SHOPPING BAG</h1>
        <div id="grid">
            <div id="template">
                <h3 style="margin-left: 3%">DELIVER TO: <a href="#">India</a></h3>
            </div>
            <div class="m">
                <p style="margin-left: 3%">
                    Free standard shipping for order above INR 11,000.00.
                </p>
                <div style="margin-left: 3%" id="shipingbar">
                    <div></div>
                </div>
                <p style="margin-left: 3%">
                    INR 385.00 delivery fee is aplicable on order below INR 11000.00.
                </p>
                <p style="margin-left: 3%">Goods shipped from Strawberrynet</p>
                <hr />
                <div id="data">
                    <div id="products">
                        <p style="margin-left: 3%">
                            Item Total: 1 item(s)‎:
                            <span id="total"></span>
                        </p>
                        <p style="margin-left: 3%">
                            Standard Shipping (Signature):
                            <span id="signature"></span>
                        </p>
                        <p style="margin-left: 3%">
                            Freight Surcharge
                            <span id="surcharge"></span>
                        </p>
                        <hr />
                        <h3 style="margin-left: 3%">
                            Order Total:
                            <span id="order_total"></span>
                        </h3>
                        <div id="test"></div>
                    </div>
                    <hr />
                </div>
            </div>
            <div id="notification">
                <ul>
                    <h4>NOTIFICATION</h4>
                    <li>
                        Due to recent flight scheduling changes, orders may experience
                        delivery delays.
                    </li>
                    <li>
                        Due to current situation, a 3.5% freight surcharge will be applied
                        to your order
                    </li>
                    <li>
                        Please note that delivery to your selected region will be delayed
                        because order dispatches are on hold due to shipping restrictions.
                        For more information, please contact info@strawberrynet.com.
                    </li>
                    <li>
                        This order may be subject to duties and taxes, which are payable
                        by the customer and are not refundable.
                    </li>
                </ul>
            </div>
            <div class="ck">
                <h2>
                    Checkout as
                    <span id="username1"></span>
                </h2>
                <a id="anker" href="/checkout">CHECKOUT</a>
            </div>
        </div>
    </div>

</body>

</html>
<script>
    let cart_data = JSON.parse(localStorage.getItem("items"));
    let products_div = document.getElementById("test");
    var total = 0;
    cart_data.forEach(function (p) {
        let div = document.createElement("div");
        let p_name = document.createElement("p");
        p_name.innerHTML = p.name;
        let p_description = document.createElement("p");
        p_description.innerHTML = p.description;
        let p_price = document.createElement("p");
        p_price.innerHTML = "Rs." + p.price;
        let p_image = document.createElement("img");
        p_image.src = p.image;
        let remove_item = document.createElement("button");
        remove_item.textContent = "Delete";
        remove_item.onclick = function () {
            deleteFromCart(p);
        };
        div.append(p_image, p_name, p_description, p_price, remove_item);
        products_div.append(div);
        // total = parseFloat(total) + parseFloat(p.price.replace(/,/g, ""));
    });
    // let totalprice_json = JSON.stringify(total);
    // localStorage.setItem("total_price", totalprice_json);
    function deleteFromCart(p) {
        // console.log(p);
        const cartData = JSON.parse(localStorage.getItem("items"));
        const newData = deleteFn(cartData, p);
        localStorage.setItem("items", JSON.stringify(newData));
        window.location.reload();
    }
    function deleteFn(cartData, p) {
        for (let i = 0; i < cartData.length; i++) {
            // item to delete
            const productName = p.name;
            if (cartData[i].name == productName) {
                cartData.splice(i, 1);
            }
        }
        return cartData;
    }
    var sum = 0
    for (let i = 0; i < cart_data.length; i++) {
        sum += cart_data[i].price
    }
    let total_p = document.getElementById("total");
    total_p.innerHTML = `Rs ${sum}`;
    let standard_p = document.getElementById("signature");
    standard_p.innerHTML = `Rs ${0}`;
    let surcharge_p = document.getElementById("surcharge");
    surcharge_p.innerHTML = `Rs ${0}`;
    let order_total = document.getElementById("order_total");
    order_total.innerHTML = ` ${sum + 0 + 0}`;
    let username_data = JSON.parse(localStorage.getItem("users"));
    console.log(username_data.take_first);
    let username1 = document.getElementById("username1");
    username1.innerHTML = username_data.take_first + "?";
</script>