<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/css/checkout.css">

<body>
    <%- include("partials/navbar.ejs") %>

    <div id="shp">
        <h1 style="letter-spacing: 0.3em; margin-top: 50px;">CHECKOUT</h1>
        <div id="grid">
            <div>
                <ul>
                    <h3>Notification</h3>
                    <li>Due to current situation, a 3.5% freight surcharge will be applied to your order</li>
                    <li>Please note that delivery to your selected region will be delayed because order dispatches are
                        on hold due
                        to shipping restrictions. For more information, please contact info@strawberrynet.com.</li>
                    <li>Due to recent flight scheduling changes, orders may experience delivery delays.</li>
                    <li>This order may be subject to duties and taxes, which are payable by the customer and are not
                        refundable.
                    </li>
                </ul>
                <hr />



                <div id="data">
                    <div id="products"></div>



                    <div class="clear"></div>
                    <hr />
                    <h1 style="margin-left: 10px;" class="total">Items total
                        <span id="total_price1" style="color: brown;margin-left: 350px;"></span>
                    </h1>

                </div>
            </div>


            <!-- child2 -->
            <div>
                <h1 style="margin-left: 10px;">Shiping information</h1>
                <h2 style="margin-left: 10px;">Shiping Address</h2>
                <input type="text" id="first_name" placeholder="First Name*" class="input_btn" />
                <input type="text" id="last_name" placeholder="Last Name*" class="input_btn" />
                <input type="text" id="company" placeholder="Company" class="input_btn" />

                <select>
                    <option value="india">India</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Usa">Usa</option>
                    <option value="Canada">Canada</option>
                </select>


                <input type="text" name="" id="address" placeholder="Address" class="input_btn" />
                <input type="text" class="input_btn" />
                <input type="text" class="input_btn" />
                <input type="text" id="city" placeholder="City/Town" class="input_btn" />
                <input type="text" name="" id="state" placeholder="State/Province" class="input_btn" />
                <input type="text" name="" id="zip" placeholder="Zip/Postal code" class="input_btn" />
                <input type="text" name="" id="mobile" placeholder="Mobile" class="input_btn" />
                <button id="btn"><b>Save & Continue</b></button>

            </div>



            <div>
                <h3 style="margin-left: 10px;">DELIVERY OPTIONS & GIFT MESSAGE</h3>

                <h4 style="margin-left: 10px;">DELIVERY OPTIONS</h4>

                <p>
                    INR384.20 - Standard Shipping (Signature)
                    <a class="adjust_anker" href="">
                        <input type="radio" id="visa" />
                    </a>
                </p>

                <hr />
                <h3 style="margin-left: 10px;">ADD GIFT MESSAGE(OPTIONAL)<a class="adjust_anker" href="">
                    </a></h3>

            </div>


            <div id="payment_page">

                <h2 style="margin-left: 10px;">PAYMENT</h2>

                <p style="margin-left: 10px;" class="payment">

                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/Visa.png" />
                    Visa - credit or debit card
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input id="card_number" type="number" placeholder="Card Number(without space)" class="pay_input"
                            required><br />
                        <input id="card_expiry" type="text" placeholder="MM/YY" class="pay_input_mmyy" required>
                        <input id="card_cvc" type="text" name="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>


                <p style="margin-left: 10px;" class="payment">

                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/Master.png" />
                    MasterCard - credit or debit card
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input type="number" placeholder="Card Number(without space)" class="pay_input" required><br />
                        <input type="text" placeholder="MM/YY" class="pay_input_mmyy" required>
                        <input type="text" name="" id="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>


                <p style="margin-left: 10px;" class="payment">

                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/Paypal.png" />
                    Paypal
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input type="number" placeholder="Card Number(without space)" class="pay_input" required><br />
                        <input type="text" placeholder="MM/YY" class="pay_input_mmyy" required>
                        <input type="text" name="" id="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>

                <p style="margin-left: 10px;" class="payment">

                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/AmericanExpress.png" />
                    American Express
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input type="number" placeholder="Card Number(without space)" class="pay_input" required><br />
                        <input type="text" placeholder="MM/YY" class="pay_input_mmyy" required>
                        <input type="text" name="" id="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>

                <p style="margin-left: 10px;" class="payment">

                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/DinersClub.png" />
                    Diners
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input type="number" placeholder="Card Number(without space)" class="pay_input" required><br />
                        <input type="text" placeholder="MM/YY" class="pay_input_mmyy" required>
                        <input type="text" name="" id="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>


                <p style="margin-left: 10px;" class="payment">

                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/JCB.png" />
                    JCB
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input type="number" placeholder="Card Number(without space)" class="pay_input" required><br />
                        <input type="text" placeholder="MM/YY" class="pay_input_mmyy" required>
                        <input type="text" name="" id="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>


                <p style="margin-left: 10px;" class="payment">
                    <button type="radio" class="round_btn" onclick="openForm()"></button>
                    <img src="https://s.cdnsbn.com/images/common/union_pay.png" />
                    CHINA UNION PAY
                <div class="form-popup" id="myForm">
                    <form action="/action_page.php" class="form-container">
                        <input type="number" placeholder="Card Number(without space)" class="pay_input" required><br />
                        <input type="text" placeholder="MM/YY" class="pay_Bioelementsinput_mmyy" required>
                        <input type="text" name="" id="" placeholder="Security Code" class="pay_input_code">
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                </div>
                </p>

                <button id="payment_btn">Pay Now</button>
                <p class="random_text">Registry of Company: Strawberry Fields, No. 4 A Kung Ngam Village Road, Shau Kei
                    Wan,
                    Hong Kong</p>

                <!-- stop -->






                <!-- stop -->

            </div>





            <div>
                <h3 style="margin-left: 20px;"><b>ENTER PROMO CODE</b></h3>
                <input type="text" id="text" placeholder="Enter Promo code" />
                <P id="apply"></P>
                <button id="promo">APPLY</button>
            </div>

            <div id="f_right">
                <h2 style="margin-left: 10px;">Payment Detail</h2>
                <p style="margin-left: 10px;">Item total
                    <span id="itemTotal" style="float: right; margin-right: 10px;"></span>
                </p>
                <p style="margin-left: 10px;">Standard Shipping (Signature)
                    <span style="float: right; margin-right: 10px;">0</span>
                </p>
                <p style="margin-left: 10px;">Freight Surcharge
                    <span style="float: right; margin-right: 10px;">0</span>
                </p>
                <hr />
                <h3 style="margin-left: 10px;">Order Total
                    <span id="final_amount" style="float: right; margin-right: 10px;"></span>
                </h3>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    let cart_data = JSON.parse(localStorage.getItem("items"));
    let products_div = document.getElementById("products");
    var total = 0;
    cart_data.forEach(function (p) {
        let div = document.createElement("div");
        let p_name = document.createElement("p");
        p_name.innerHTML = p.name;
        let p_description = document.createElement("p");
        p_description.innerHTML = p.description;
        let p_price = document.createElement("p");
        p_price.innerHTML = p.price;
        let p_image = document.createElement("img");
        p_image.src = p.image;
        div.append(p_image, p_name, p_description, p_price);
        products_div.append(div);
        // console.log(typeof p.price);
        // var rate = +p.price;
        // console.log(typeof rate);
    });
    var total_price = JSON.parse(localStorage.getItem("items"));
    //console.log(total_price)
    var sum = 0
    for(let i = 0; i< total_price.length;i++){
        sum += total_price[i].price
    }
    var total_price1 = document.getElementById("total_price1");
    total_price1.innerHTML = "Rs. " + sum;
    var btn_promo = document.getElementById("promo");
    btn_promo.addEventListener("click", applycode);
    applycode();
    function applycode() {
        var total_amount = sum;
        var afterpromo = Math.floor(total_amount - (total_amount * 3) / 100);
        let promoInput = document.getElementById("text").value;
        checker(total_amount, afterpromo, promoInput);
        function checker(total_amount, afterpromo, promoInput) {
            if (promoInput == "masai30") {
                document.getElementById("itemTotal").innerText = afterpromo;
                document.getElementById("apply").innerText = "Congratulation!"
                document.getElementById("final_amount").innerText = afterpromo
            }
            else {
                document.getElementById("itemTotal").innerText = total_amount;
                document.getElementById("final_amount").innerText = total_amount
            }
        }
    }
    var pay_btn = document.getElementById("payment_btn")
    pay_btn.addEventListener("click", pay)
    function pay() {
        var cardNo = document.getElementById("card_number").value;
        var cardE = document.getElementById("card_expiry").value;
        var cvc = document.getElementById("card_cvc").value;
        if (cardNo.length == 16 && cardE.length == 4 && cvc.length == 3) {
            //  console.log("yes")
            alert("payment Successful");
            setTimeout(function () {
                window.location.href = "/thankyou";
            }, 1000);
        } else {
            alert("your card is details wrong")
        }
    }
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>