body {
    font-family: Lato, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    
}
/* #header-cont{
    width: 77%;
} */

#top-cont {
    width: 100%;
    height: 100px;
    display: flex;
    background: url("https://a.cdnsbn.com/images/common/2016headerbg.jpg?v=2")
        top center no-repeat;
    /* border: 1px solid red; */
}

#strawberry-cont {
    float: left;
    width: 18%;
    padding: 20px 20px 20px 20px;
    padding-left: 50px;
    margin-left: 10%;
    /* border: 1px solid red; */
}

#search-cont {
    text-align: center;
    width: 40%;
}

#search-cont > input {
    border: 2px solid purple;
    width: 50%;
    height: 30%;
    margin-top: 25px;
    /* border-radius: 12px; */
}

#search-cont > button {
    border: 2px solid purple;
    height:32%;
    /* border-radius: 12px; */
    color: #623381;
    margin-left: -30px;
    border: none;
    background-color:transparent
}

#right-cont {
    display: flex;
    flex-direction: row-reverse;
    width: 15%;
}

#right-cont > a {
    margin-right: 40px;
    margin-top: 8%;
    color: #b53788;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

#right-cont svg {
    padding: 4px;
}

.special-item .cut {
    text-decoration: line-through;
}

.menu-cont {
    background-color: #623381;
    padding: 10px;
    text-align: center;
    /* border: 1px solid green; */
}

.button > a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 14px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.btn-hover > a:hover {
    background-color: white;
    color: #623381;
    text-decoration: underline;
}
.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
