#p-top-cont {
  width: 90%;
  margin: 0% 5%;
  height: 930px;
}

#p-filter-bar {
  width: 100%;
  height: 20px;
}

#p-filter-bar > h1 {
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

#p-filter-bar > h1:nth-child(5) {
  color: #ef1275;
}

#p-pic {
  text-align: center;
}

#p-pic img {
  max-width: 100%;
}

#p-info-left {
  height: 550px;
  float: left;
  width: 38%;
  margin: 2%;
}

#p-info-left-img {
  height: 350px;
  text-align: center;
}

#p-info-left-zoom {
  width: 100%;
  height: 30px;
}

#p-info-left-zoom h5 {
  text-align: center;
  margin-top: 7px;
  font-weight: 300;
}

#p-info-left-mimg {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

#p-info-left-mimg-top {
  width: 55%;
  margin: auto;
  height: 80px;
}

#p-info-left-mimg-top div {
  border: 1px solid gainsboro;
  width: 28%;
  margin: 2%;
  height: 68px;
  float: left;
  text-align: center;
}

#p-info-left-mimg-top div img {
  width: 100%;
  height: 68px;
  margin: auto;
}

#p-info-left-share {
  text-align: center;
  width: 100%;
}

#p-info-left-share h1 {
  font-size: 17px;
  font-weight: 150;
}

#p-info-right {
  height: 770px;
  float: right;
  width: 56%;
  margin: 1%;
}

#p-info-right-title {
  width: 100%;
  height: 90px;
}

#p-info-right-title > h1 {
  font-size: 28px;
  margin: 0;
}

#p-info-right-title > h4 {
  font-size: 18px;
  margin: 9px 0;
}

#p-info-right-title > h7 {
  font-size: 14px;
}

#p-info-right-sizebox {
  text-align: center;
  margin: 40px 0;
  width: 100%;
  height: 60px;
}

#p-info-right-sizebox > div {
  width: 60px;
  height: 60px;
  background-color: gainsboro;
  float: left;
  margin: 0 5px 0 5px;
  font-size: 12px;
}

#p-info-right-sizebox > div > h1 {
  font-size: 13px;
  font-weight: 525;
  margin: 6px 0px 1px 0px;
  letter-spacing: 0.5px;
}

#p-info-right-sizebox > div > h2 {
  font-size: 13px;
  font-weight: 525;
  letter-spacing: 0.5px;
  margin: 0px 0px 0px 0px;
}

#p-info-right-price-topbar {
  height: 57px;
  width: 210px;
}

#p-info-right-price-topbar > div:nth-child(1) {
  height: 24px;
  width: 33px;
  float: left;
  font-size: 10px;
  font-weight: bold;
}

#p-info-right-price-topbar > div:nth-child(2) {
  height: 57px;
  width: 125px;
  float: left;
  font-size: 27px;
  font-weight: bold;
}

#p-info-right-price-topbar > div:nth-child(3) {
  height: 24px;
  width: 30px;
  float: left;
  font-size: 10px;
  font-weight: bold;
  margin-left: 10px;
}

#p-info-right-price-topbar h1 {
  margin: 0px;
}

#p-info-right-price > div:nth-child(2) {
  width: 100%;
  height: 17px;
}

#p-info-right-price > div:nth-child(2) > h1 {
  font-size: 14px;
  float: left;
  margin: 0px;
  margin-right: 5px;
}

#p-info-right-price > div:nth-child(2) > h1:nth-child(2) {
  text-decoration: line-through;
}

#p-info-right-price > div:nth-child(2) > h1:nth-child(3) {
  color: #e02e4a;
}

#p-info-right-buttons {
  width: 100%;
  height: 31px;
  margin: 30px 0;
}

#p-info-right-buttons > div {
  float: left;
  margin-right: 15px;
}

#p-info-right-buttons > div > select {
  height: 31px;
  width: 61px;
}

#p-info-right-buttons > div > button {
  height: 31px;
  width: 120px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #00a69c;
  border: 1px solid transparent;
  border-radius: 4px;
}

#p-info-right-buttons > div > h1 {
  font-size: 14px;
  height: 14px;
  width: 177px;
  margin-top: 5px;
  color: #e02e4a;
  letter-spacing: 0.03em;
}

#p-info-right-offer {
  height: 50px;
}

#p-info-right-offer h1:nth-child(1) {
  width: 100%;
  height: 17px;
  margin-top: 0px;
  margin-bottom: 15px;
  float: left;
  font-size: 12px;
}

#p-info-right-offer h1:nth-child(2) {
  width: 100%;
  height: 12px;
  float: left;
  font-size: 12px;
  margin-top: 0px;
}

#p-info-right-menubar {
  height: 110px;
  width: 100%;
}

#p-info-right-menubar div {
  margin-top: 60px;
  float: left;
  margin-right: 30px;
  width: 22%;
  text-align: center;
}

#p-info-right-menubar div:nth-child(3) {
  margin-right: 15px;
}

#p-info-right-menubar div:nth-child(4) {
  width: 17%;
  margin-top: 65px;
}

#p-info-right-menubar > div:nth-child(1) h1 {
  font-size: 14px;
  color: #662d91;
  font-weight: 700;
}

#p-info-right-menubar > div:nth-child(2) h1 {
  font-size: 14px;
  color: #662d91;
  font-weight: 400;
}

#p-info-right-menubar > div:nth-child(3) h1 {
  font-size: 14px;
  color: #662d91;
  font-weight: 400;
}

#p-info-right-menubar > div:nth-child(4) button {
  font-size: 14px;
  background-color: #662d91;
  color: white;
  font-weight: 400;
  padding: 5px 10px;
  border-color: #662d91;
  border-radius: 5px 5px 0 0;
}

#p-info-right hr {
  height: 2px;
  background-color: #662d91;
  color: #662d91;
  border: 1px;
  margin-top: 0px;
}

#p-info-right-info {
  height: 200px;
}

#p-info-right-info li {
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 0.02em;
}

#p-info-right-menubar > div:nth-child(2) > h1 > svg {
  height: 15px;
}

#p-info-left-zoom > h5 > svg {
  height: 12px;
}

#p-info-left-share > h1 > svg {
  height: 15px;
}

#p-info-right-title > h7 > svg {
  height: 12px;
  margin: 0;
  color: #662d91;
}

#p-info-right-offer > h1:nth-child(1) {
  color: #ee2c72;
}

#p-info-right-menubar > div:nth-child(3) > svg {
  color: #662d91;
  margin-top: 10px;
}

#p-info-right-price > div:nth-child(2) {
  margin-top: 10px;
}

#p-info-right-info {
  margin-top: 35px;
}

#p-info-right-info > li {
  font-size: 15px;
}

#space-between {
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 545;
}
